
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      .d{
        margin-top: 100px;
        width: 900px;
       display: flex;
        height: 200px;
        border: 5px solid purple;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 30px;
      }
      .d1{
        display: flex;
        justify-content: center;
        height: 70px;
        width: 500px;
        border: 3px solid purple;
        text-align: center;
        border-radius: 20px;
      }
      h1,h2{
        color: white;
      }
      body{
        background-color: black;
      }
      a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        margin-top: 20px;
       
      }
      


    </style>
  </head>
  <body>
        <center><div  class="d">
          <h1>Welcome To Weather App</h1><br>
          <h1>DashBoard</h1><br>
    </div>
    <div class="d1">
        <a href="https://weather--ghantasahithi.repl.co">Click To Search For Weather</a></div></center>
        <i class="fa-thin fa-cloud" style="color: #f7f9fd;"></i>
      
  </body>
</html>